body {
  max-width: 900px;
  background-color: #FFF9CD;
  font-size: 18px;
  font-family: Cambria, serif;
}
.sutra section {
	margin-left: 250px;
	/* width: 100%; */
	padding-left: 10px;
}

.sutra h2.ch {
	margin-top: 100px;
	margin-bottom: 20px;
}
.sutra h2.en {
	margin-top: 20px;
}

/* Nav Sidebar Styles */
nav.left {
	height: 100%;
	width: 250px;
	position: fixed;
	top: 86; left: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	/* font-weight: bold; */
	line-height: 1.25;
	margin-right: 10px;
	border-right: 1px solid black;
	background-color: Teal;
	color: #FFF9CD;
}
nav.left h2 {
	font-size: 24px;
	margin-top: 100px;
	margin-bottom: 10px;
}
nav.left ul.top {
	list-style-type: none;
	margin-left: -30px;
}

nav.left ul.submenu {
	list-style-type: none;
	margin-left: -20px;
}

nav.top {
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0; left: 0;
	background-color: #004040;
	color: white;
	border-bottom: 1px solid black;
}

nav.top ul {
	text-align: center;
	list-style-type: none;
	margin: 0; padding: 0;
	width: 100%;
}

nav.top ul li {
	float: left;
	padding-top: 10px;
}

nav.top .title {
	padding-top: 5px;
	font-size: 32px;
	font-weight: bold;
	width: 60%
}

.subtitle {
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	padding-top: 0;
}

li.right, li.left {
	font-size: 24px;
	width: 20%;
}

/* Table of Contents */
h2 {
  text-align: center;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  font-size: 36px;
}
ul.toc {
  list-style-type: none;
}

ol {
  margin-bottom: 5px;
}

/* Sutra Pages */
body.sutra {
  max-width: 900px;
}
p a {
	text-decoration: none;
	color: blue;
}
p.ch {
  margin: 0;
  font-family: SimSun, PMingLiU;
  text-indent: 20px;
}

p.en {
  text-indent: 20px;
}




/* Glossary styles */
.rad_index p {
	font-family: SimSun, PMingLiU;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
}