---
layout: default
type: default
title: Chinese-English Glossary of the Agamas
base: ../
---
<article class="glossary">
<h1>Appendix II: Chinese-English Glossary</h1>
<hr/>
<section class="rad_index">
  <p>
  {% assign last_strokes = 0 %}
  {% for radical in site.data.glossary %}
    {% assign current_strokes = radical[1].strokes %}
    {% if current_strokes > last_strokes %}
      <strong>{{ current_strokes }}</strong>:
      {% assign last_strokes = current_strokes %}
    {% endif %}
    <a title="{{ radical[1].number }}" href="#rad{{ radical[1].number }}">{{ radical[1].cjk }}</a>
  {% endfor %}
  </p>
</section>
<hr/>

{% for radical in site.data.glossary %}
  {% include radical-headwords.html datafile=radical %}
{% endfor %}

</article>
