---
layout: default
type: default
title: Chinese-English Glossary of the Agamas
base: ../
---
<article class="glossary">
<h1>Appendix II: Chinese-English Glossary</h1>

<section class="rad_index">
  <h3>Radical Index</h3>
  <hr/>
  <p>
  {% assign last_strokes = 0 %}
  {% for radical in site.data.glossary %}
    {% assign current_strokes = radical[1].strokes %}
    {% if current_strokes > last_strokes %}
      <strong>{{ current_strokes }}</strong>:
      {% assign last_strokes = current_strokes %}
    {% endif %}
    <a class="ch" title="{{ radical[1].number }}" href="radical{{ radical[1].number }}.html">{{ radical[1].cjk }}</a>
  {% endfor %}
  </p>
</section>
<hr/>
<section>
<h3>Term Index by Radical</h3>
<p class="ch">
{% for radical in site.data.glossary %}
  {% if radical[1].headwords %}
    {{ radical[1].cjk }}:
    {% for head in radical[1].headwords %}
      {% for term in head.terms %}
        <a title="{{ radical[1].number }}" href="radical{{ radical[1].number }}.html#{{ term.cjk }}">{{ term.cjk }}</a>
      {% endfor %}
    {% endfor %}
    <br/>
  {% endif %}
{% endfor %}
</p>
</section>

</article>
