<header>
	<h1><a class="banner" href="{{ page.base }}index.html">Dharma Pearls</a></h1>
	<h2>Translating Classical Buddhism to Modern English</h2>
	<nav>
		<div class="nav-list">
			<a class="nav-item header" href="{{ page.base }}whats-new.html">What’s New</a>
			<a class="nav-item header" href="{{ page.base }}translations.html">Translations</a>
			<a class="nav-item header" href="{{ page.base }}resources.html">Resources</a>
			<a class="nav-item header last" href="{{ page.base }}about.html">About</a>
		</div>
	</nav>
</header>
