<article class="radical-page">
<h1>Radical {{ page.number }}: <span class="ch">{{ page.radical }}</span></h1>

<h3>Headword List: {% for headword in site.data.glossary[page.data].headwords %}
  <a href="#_{{ headword.cjk }}">{{ headword.cjk }}</a>
{% endfor %}</h3>

{% for headword in site.data.glossary[page.data].headwords %}
  <h2 class="headword ch" id="_{{ headword.cjk }}">{{ headword.cjk }}</h2>

  {% for term in headword.terms %}
    <section class="entry" id="{{ term.cjk }}">
      <p><span class="term ch">{{ term.cjk }}</span></p>
      <ol>
        {%- for sense in term.senses -%}
          <li>
          {%- if sense.sanskrit or sense.pali -%}
            (
            {%- if sense.sanskrit -%}
              Skt. {{ sense.sanskrit }}
            {%- endif -%}
            {%- if sense.sanskrit and sense.pali -%}
              ;
            {% endif %}
            {%- if sense.pali -%}
              Pali {{ sense.pali }}
            {%- endif -%}
            )
          {% endif %}
          {{ sense.english }}<br/>
          {%- if sense.usage -%}
            Usage: {{ sense.usage }}<br/>
          {%- endif -%}
          {%- if sense.passages -%}
            cf. {{ sense.passages }}
          {%- endif -%}
          </li>
        {%- endfor -%}
      </ol>
    </section>
  {% endfor %}
  <hr/>
{% endfor %}
</article>
