<nav>
	<img src="{{ page.base }}assets/img/dharmapearls_icon_transparent.png"/>

	<ul class="top">
		<li>Introduction</li>
		<li>Translations</li>
			<ul class="submenu">
				<li><img onclick="toggleSubmenu('dirgha');" class="inline-icon" src="{{ page.base }}assets/img/more-icon.svg"/><a href="{{ page.base }}01_dirgha/contents.html">The Long Discourses</a></li>
				<ol id="dirgha" start="29" style="display: none;">
					<li><a href="{{ page.base }}01_dirgha/DA_29.html">Lohitya</a></li>
				</ol>
				<li><img onclick="toggleSubmenu('madhyama');" class="inline-icon" src="{{ page.base }}assets/img/more-icon.svg"/>The Middle-Length Discourses</li>
				<ol id="madhyama" style="display: none;">
					<li>Good Dharma</li>
					<li>Parijata Tree</li>
					<li>City Parable</li>
					<li>Water Parable</li>
					<li>Wood Pile Parable</li>
					<li>Good Person's Departure</li>
					<li>Worldly Merit</li>
				</ol>
				<li>The Numerical Discourses</li>
				<li>The Related Discourses</li>
				<li>Other Minor Texts</li>
			</ul>
		<li>Index of Pali Equivalents</li>
		<li><a href="../X2_glossary/index.html">Chinese-English Glossary</a></li>
	</ul>
	{% if page.type == "translation" %}
		<button onclick="toggleChinese();">Toggle Chinese</button><br/>
		<button onclick="toggleNotes();">Toggle Notes</button>
	{% endif %}
</nav>
