<nav>
	<ul class="top">
		<img src="../assets/img/dharmapearls_icon_transparent.png"/>
		<li>Introduction</li>
		<li>Translations</li>
			<ul class="submenu">
				<li><a href="../01_dirgha/contents.html">The Long Agamas</a></li>
				<li>The Middle-Length Agamas</li>
				<li>The Numeretical Agamas</li>
				<li>The Connected Agamas</li>
				<li>Other Minor Texts</li>
			</ul>
		<li>The Teachings of the Agamas</li>
		<li>Index of Pali Equivalents</li>
		<li><a href="../X2_glossary/index.html">Chinese-English Glossary</a></li>
	</ul>
</nav>
