{% assign chinese = site.data.translation[page.ch] %}
{% assign english = site.data.translation[page.en] %}
{% assign s = 0 %}
{% assign p = 0 %}

<div class="translation">
  <article class="sutra">
      <h1 class="en">{{ english.collection }}</h1>
      <h2 class="en" id="en.0">{{ english.number }}. {{ english.title }}</h2>

    {% for section in chinese.sections %}
      {% for para in section.paragraphs %}
        <section class="en">
          {% if english.sections[s].paragraphs[p].content %}
            <p id="en.{{ s | plus: 1 }}-{{ p | plus: 1}}">{% if forloop.index < 2 %}{{ s | plus: 1 }}.{% endif %} {{ english.sections[s].paragraphs[p].content }}</p>
          {% endif %}
          {% include sutra-verse-en.html %}
          {% include sutra-notes-en.html %}
        </section>
        {% assign p = p | plus:1 %}
      {% endfor %}
      {% assign s = s | plus:1 %}
      {% assign p = 0 %}
    {% endfor %}
    <section class="footer">
      <hr/>
      <h5>{% if english.translator %}
        Translator: Charles Patton<br/>
      {% endif %}
      {% if english.revised %}
        Last Revised: {{ english.revised }}
      {% endif %}</h5>
    </section>
  </article>
</div>
