/* Header Styles */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px; left: 0px;
  margin: 0;
  padding: 0;
  background-color: teal;
  color: white;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: white;
}

header h1 {
  max-width: 900px;
  margin: 15px 0 0 15px; padding: 0;
  text-shadow: 2px 2px 4px #000000;
  font-size: 48px;
}

header h2 {
  max-width: 900px;
  margin: 0 0 0 15px; padding: 0;
  font-size: 20px;
  font-family: cronos-pro;
}

header nav {
  background-color: lightseagreen;
  height: 30px;
  width: 100%;
  position: fixed;
	top: 100px; left: 0px;
  text-align: center;
}

header nav ul {
  width: 900px;
  margin: 0 0 0 -25px;
  list-style-type: none;
}

header nav ul li {
  float: left;
  color: white;
  font-weight: 600;
  margin: 5px 0 0 0;
  padding-right: 50px;
  text-shadow: 1px 1px 2px #000000;
}

header nav a:hover {
  color: #004040;
  background-color: lightseagreen;
  text-shadow: 1px 1px 2px #FFFFFF;
}
