/* Header Styles */
header {
  width: 100%;
  height: 5.5em;
  position: fixed;
  top: 0px; left: 0px;
  margin: 0;
  padding: 0;
  background-color: teal;
  color: white;
  z-index: 1;
  text-align: center;
  transition: top 0.25s;
}

header.hide {
  top: -4.76em;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: white;
}

header > h1 {
  width: 100%;
  margin: 0.3em 0 0 0;
  padding: 0;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2.5em;
  font-family: 'Merriweather', 'Georgia', sans-serif;
}

header > h2 {
  width: 100%;
  margin: 0; padding: 0;
  font-size: 1.2em;
  font-family: cronos-pro;
  font-weight: normal;
}

nav {
  position: fixed;
  height: 1.55em;
  width: 100%;
	top: 5.5em; left: 0px;
  text-align: center;
  font-family: cronos-pro, 'Cambria', serif;
  background-color: lightseagreen;
  transition: top 0.25s;
}

nav.hide {
  top: 0em;
}

.nav-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 40em;
}

a.banner:link {
  color: white;
  text-decoration: none;
}

a.banner:visited {
  color: white;
  text-decoration: none;
}
a.banner:hover {
  color: black;
  background-color: teal;
  text-shadow: 1px 1px 2px #FFFFFF;
}

a.header:link {
  color: white;
  text-decoration: none;
}

a.header:visited {
  color: white;
  text-decoration: none;
}
a.header:hover {
  color: black;
  background-color: lightseagreen;
  text-shadow: 1px 1px 2px #FFFFFF;
}

nav .nav-item  {
  position: relative;
  font-size: 1.1em;
  color: white;
  font-weight: 600;
  top: 0.2em;
  flex-grow: 1;
  flex-shrink: 1;
  text-shadow: 1px 1px 2px #000000;
}

nav .last {
  padding-right: 0;
}
