/* Header Styles */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px; left: 0px;
  margin: 0;
  padding: 0;
  background-color: teal;
  color: white;
  z-index: 1;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: white;
}

header h1 {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0;
  text-shadow: 2px 2px 4px #000000;
  font-size: 48px;
}

header h2 {
  width: 100%;
  margin: 0; padding: 0;
  font-size: 20px;
  font-family: cronos-pro;
}

nav {
  position: fixed;
  height: 30px;
  width: 100%;
	top: 100px; left: 0px;
  text-align: center;
  font-family: cronos-pro, 'Cambria', serif;
  background-color: lightseagreen;
}

.nav-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 650px;
}

nav .nav-item  {
  position: relative;
  color: white;
  font-weight: 600;
  top: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  text-shadow: 1px 1px 2px #000000;
}

nav .last {
  padding-right: 0;
}

header nav a:hover {
  color: #004040;
  background-color: lightseagreen;
  text-shadow: 1px 1px 2px #FFFFFF;
}
