
/* Home Pages Stylesheet */
article.home h4 {
  text-align: center;
}

article.home h2 {
  font-size: 1.3em
}

article.home h3 {
  font-size: 1.1em;
  margin-top: 6px; margin-bottom: 6px;
}

.refs {
  color: grey;
  font-size: 20px;
}

.synopsis {
  text-indent: 0px;
  margin: 0px 0px 20px 20px;
}

dt {
  float: left;
    clear: left;
    width: 150px;
    text-align: right;
    font-weight: bold;
    color: green;
}

dt::after {
    content: ":";
}

dd {
  margin: 0 0 0 160px;
    padding: 0 0 0.5em 0;
}
