
/* Home Pages Stylesheet */
article.home > h2 {
  font-size: 1.2em
}

article.home > h3 {
  font-size: 1em;
  margin-top: 6px; margin-bottom: 6px;
  text-align: left;
}

article.home > h4 {
  text-align: center;
}

.links {
  color: grey;
  font-size: 0.8em;
}

.refs {
  color: grey;
  font-size: 20px;
}

.synopsis {
  font-size: 0.8em;
  text-indent: 0px;
  margin: 0px 0px 20px 20px;
}

.whats-new > dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  font-weight: bold;
  color: seagreen;
  font-size: 0.8em;
}

.whats-new > dt::after {
    content: ":";
}

.whats-new > dd {
  margin: 0 0 0 160px;
  padding: 0 0 0.5em 0;
  font-size: 0.8em;
}
