body {
  background-color: #FFFFD5;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: poynter-oldstyle-text, 'Cambria', serif;
  font-weight: 400;
}

p, li, span {
  font-family: cronos-pro, 'Cambria', serif;
}

hr {
  border: 1px solid teal;
}

a.title {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  background-color: teal;
  color: #FFF9CD;
}

article {
  position: relative;
  left: 28%;
  max-width: 650px;
  margin-top: 150px;
	//margin-left: 33%;
	width: 67%;
	padding-left: 10px;
}

/* Table of Contents */
.TOC h2 {
  text-align: center;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  font-size: 36px;
}
ul.toc {
  list-style-type: none;
}

ol {
  margin-bottom: 5px;
}
