.ch {
  font-family: source-han-sans-traditional, 'SimSun', 'PMingLiU';
  font-weight: 200;
}

.taishoref {
  color: grey;
  display: inline;
}

.sutra > h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.sutra > h1 {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

.sutra > h2 {
	font-size: 1.45em;
  margin-top: 0.5em;
}

.sutra > h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.sutra > h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.sutra > h5 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.sutra > h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.sutra > h3 + p {
  margin-top: 0;
}

.sutra > h4 + p {
  margin-top: 0;
}

.sutra > h5 + p {
  margin-top: 0;
}

.sutra > h6 + p {
  margin-top: 0;
}

.sutra > h4 + h5 {
  margin-top: 0;
}

.sutra > h5 + h6 {
  margin-top: 0;
}

.notes {
  margin: 18px 0 18px 0;
  display: none;
}
.notes li {
  font-size: 0.67em;
}

.verse {
  margin-left: 1.4em;
  margin-bottom: 1em;
  list-style-type: none;
}

.uddana {
  margin-left: 0;
  margin-bottom: 1em;
  list-style-type: none;
  text-align: center;
}

/* p {
  text-indent: 20px;
  margin: 0;
} */

p > sup {
  font-size: 0.57em;
}

.sutra hr {
  border: 0;
  border-top: 3px teal double;
  margin: 20px 0px 20px 0px;
}

.sutra .footer h5 {
  font-size: 0.67em;
}

.sutra > .translator, .revised {
  .font-size: 0.7em;
}

.sutra > .translator {
  margin-bottom: 0em;
}

.sutra > .revised {
  margin-top: 0em;
}

.footer-nav {

  width: 100%;
  margin-bottom: 25px;
}

.footer-nav > .previous {
  text-align: left;
  margin: -10px 0 0 0;
}

.footer-nav > .next {
  text-align: right;
  float: right;
  margin: -10px 0 0 0;
}
