.ch {
  font-family:   source-han-sans-traditional, 'SimSun', 'PMingLiU';
  font-weight: 200;
}

.taishoref {
  color: grey;
  display: inline;
}


.sutra h2 {
	margin-top: 20px;
}

.notes {
  margin: 18px 0 18px 0;
  display: none;
}
.notes li {
  font-size: 14px;
}

.verse {
  margin-left: 30px;
  margin-bottom: 20px;
  list-style-type: none;
}

.uddana {
  margin-left: 0;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: center;
}

p {
  text-indent: 20px;
  margin: 0;
}

p > sup {
  font-size: 12px;
}

.sutra hr {
  border: 0;
  border-top: 3px teal double;
  margin: 20px 0px 20px 0px;
}

.sutra .footer h5 {
  font-size: 14px;
}

.footer-nav {
  width: 100%;
  margin-bottom: 25px;
}

.footer-nav .previous {
  text-align: left;
  margin: -10px 0 0 0;
}

.footer-nav .next {
  text-align: right;
  float: right;
  margin: -30px 0 0 0;
}
