<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ page.base }}assets/css/main.css">
    {% if page.type == "translation" %}
    <script src="{{ page.base }}assets/js/translation.js"></script>
    {% endif %}
    <script src="{{ page.base }}assets/js/sidebar.js"></script>
  </head>
  <body>
    {% include header.html %}
    {% unless page.type == "home" %}
      {% include sidebar.html %}
    {% endunless %}
    {% if page.type == "radicalpage" %}
      {% include radical-page.html %}
    {% elsif page.type == "translation" %}
      {% include sutra.html %}
    {% else %}
      {{ content }}
    {% endif %}
  </body>
</html>
